* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    background: radial-gradient(#f4f4f8, #e6e6ea);
    font-family: 'Times New Roman', Times, serif;
}

header {
    background: linear-gradient(to right, #97B1A6, #C9C5BA);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

footer {
    background: linear-gradient(to left, #f7ece1, #cac4ce);
    text-align: center;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    clear: both;
}

nav {
    font-size: 20px;
    background: linear-gradient(to right, #698996, #97b1a6);
    text-align: center;
    color: black;
    padding: 5px;
}

nav a {
    color: BLACK;
    transition: color 0.3s ease;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
    color: BLACK;
}

h2,
h3 {
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: justify;
}

#block1 {
    float: left;
    border: 6px;
    border-style: double;
    margin: 0px 10px 10px 0px;
}

table {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    margin: 0px 0px 20px 0px;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin: 0px 0px 20px 0px;
}

.container article {
    text-align: center;
}

.container img {
    width: 90%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #777;
    transition: transform 0.1s ease, border-color 0.1s ease;
}

.container article:hover {
    transition: transform 0.1s;
    transform: scale(1.05);
    font-weight: bold;
}

.container img:hover {
    border-color: black;
}

.nameText {
    color: black;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
}

label,
input,
textarea {
    font-size: 16px;
    display: block;
    margin-top: 5px;
    width: 100%;
    max-width: 650px;
}

input,
textarea {
    padding: 5px;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    background: #0044cc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0033aa;
}

button:active {
    background: #0044cc;
}

.active {
    font-weight: bold;
    color: BLACK;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 0px 10px 20px 5px;
}

.gallery-container img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #777;
    cursor: pointer;
    transition: transform 0.1s ease, border-color 0.1s ease;
    margin-bottom: 5px;
}

.gallery-container a {
    text-decoration: none;
}

.gallery-container a:hover {
    transition: transform 0.1s;
    transform: scale(1.05);
    font-weight: bold;
}

.gallery-container img:hover {
    border-color: black;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

.fullscreen:target {
    display: flex;
}

.fullscreen img {
    width: auto;
    height: auto;
    max-width: 95vw;
    max-height: 95vh;
    object-fit: contain;
    border: none;
    border-radius: 0px;
}

.fullscreen img:hover {
    transform: none;
    border: none;
    border-radius: 0px;
}

.fullscreen .close {
    position: absolute;
    top: 25px;
    right: 35px;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: 0.2s ease;
}

.fullscreen .close:hover {
    color: red;
    transform: scale(1.2);
}

form {
    margin-bottom: 10px;
    clear: both;
}